<style>
    body {
        margin: 0;
        padding: 0;

    }

    div {
        font-family: Calibri, Arial, sans-serif;
        font-size: 13.3px;
    }

    .header {
        height: 136px;
        background-color: #F7F9FC;
    }

    .content {
        margin: 48px 48px 148px 48px;
        padding: 0px;
    }

    .text {
        line-height: 20px;
        margin-top: 24px;
    }

    .middle {
        margin-top: 36px;

    }

    .button {
        text-decoration: none;
        color: #FFFFFF;
        background: #0F62FE;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
        gap: 8px;
        width: 102px;
        height: 48px;
    }

    .bottom {
        margin-top: 36px;
    }

    .link {
        text-decoration: none;
        color: #0F62FE;
        cursor: pointer;
    }

    .footer {
        margin: 48px 0px 48px 0px;
        padding: 24px;
        height: 68px;
        background: #EDF5FF;
        margin-top: 32px;
        height: 20px;

    }

    .foot {
        height: 20px;
        text-align: center;
    }

    .disclaimer {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


<div style="width:100%;height:100%;">
    <!-- <div class="header">
  
   </div> -->
    <div class="container">
        <div class=" content">

            <div class="text">
                Dear Sir/Ma'am
            </div>
           
            <div class="text">
                Greetings from shikshaML. !
            </div>

            
            <div class="text" style="margin-top: 24px;">
                We have received a request to verify your account with OTP. The OTP for your login is <span class="link"><%= token %></span>
              </div>

            <!-- <div class="text" style="margin-top: 24px;">
                We have received a request for login with OTP. The OTP for your login is <span class="link"><%= token %></span> to
                proceed with the login with OTP process.
              </div> -->
            <div class="text" style="margin-top: 24px;">
                If you did not initiate this request, you can safely ignore this email.
            </div>


            <div class="text" style="margin-top: 24px;">If you have any questions or feedback, please feel free to reach
                out to us at <span><a href=""
                        class="link">support@shikshaml.com</a></span>.</div>

            <div class="text">
                Thanks
            </div>
            <div class="text" style="margin-top: 12px;">
                Team shikshaML
            </div>

        </div>
    </div>
</div>